.projects {
  width: 1200px;
  height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-right: 1px solid white;
}

.current {
  color: #f0ebe5;
  font-size: 15px;
  font-family: 'Speedy';
}

.projectsHeader {
  font-size: 40px;
  color: #d6c4b5;
  font-family: 'Speedy';
}

.pickerContainer {
  margin-top: 25px;
  width: 90%;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #dcc8b6;
}

.pick {
  width: 125px;
  height: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pickName {
  font-size: 25px;
  color: #f0ebe5;
  font-family: 'Starshield';
  text-align: center;

  &:hover {
    font-size: 30px;
  }
}

.pickUnderline {
  border-bottom: 1px solid #dcc8b6;
}

.container {
  width: 1200px;
  height: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.more {
  color: #f0ebe5;
  font-size: 20px;
  font-family: 'Speedy';
  width: 200px;
  &::after {
    animation: dotty steps(1, end) 1s infinite;
    content: '';

    @keyframes dotty {
      0% {
        content: '';
      }
      25% {
        content: '.';
      }
      50% {
        content: '..';
      }
      75% {
        content: '...';
      }
      100% {
        content: '';
      }
    }
  }
}

.jpass {
  width: 1200px;
  height: 700px;
  display: flex;
}

.infoContainer {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  padding-top: 100px;
}

.boxContainer {
  width: 100%;
  height: 100px;
  display: flex;
}

.box {
  width: 33%;
  height: 100%;
  border: 1px solid #d1b7a0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  font-size: 60px;
  color: #f1efe9;
  font-family: 'StarShield';
  letter-spacing: 3px;
  line-height: 45px;
}

.about {
  width: 100%;
  height: 150px;
  font-family: 'Courier';
  font-size: 20px;
  color: #d1b7a0;
  margin-top: 20px;
}

.number {
  font-size: 40px;
  color: #f1efe9;
  font-family: 'StarShield';
  line-height: 45px;
}

.skill {
  font-size: 15px;
  color: #dcc8b6;
  font-family: 'Speedy';
}

.picContainer {
  width: 55%;
  height: 100%;
  position: relative;
}

.planet {
  width: 25%;
  position: absolute;
  filter: grayscale(0.4);
  border-radius: 50%;
  transition: transform 0.7s;

  &:hover {
    cursor: pointer;
    transform: scale(1.25);
  }

  &__one {
    top: 8%;
    right: 15%;
  }
  &__two {
    top: 40%;
    left: -25;
  }
  &__three {
    bottom: 10%;
    left: 10%;
    z-index: 6;
    width: 27%;
  }
  &__four {
    bottom: 30%;
    left: 45%;
    z-index: 6;
    width: 30%;
    box-shadow: -21px -29px 54px 17px rgba(0, 0, 0, 0.3);
  }
  &__five {
    top: 10%;
    left: 20%;
  }
}

.sun {
  width: 55%;
  filter: grayscale(0.4);
  transform: scaleX(-1);
  z-index: 5;
  position: absolute;
  top: 20%;
  left: 15%;
  border-radius: 50%;
}
