.projects {
  width: 1150px;
  height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.current {
  color: #f0ebe5;
  font-size: 15px;
  font-family: 'Speedy';
}

.projectsHeader {
  font-size: 40px;
  color: #d6c4b5;
  font-family: 'Speedy';
  text-align: center;
}

.container {
  width: 1000px;
  height: 800px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.headersContainer {
  width: 100%;
  height: 50px;
  margin-top: 25px;
  margin-left: 35px;
  display: flex;
  align-items: center;
  border-bottom: solid 1px #d6c4b5fa;
  justify-content: space-between;
}

.mars {
  width: 500px;
  height: 500px;
  position: absolute;
  right: -5px;
  top: 125px;
  filter: grayscale(40%);
  opacity: 0.8;
}

.more {
  color: #f0ebe5;
  font-size: 20px;
  font-family: 'Speedy';
  width: 200px;
  margin-left: 25px;
  position: relative;
  bottom: 100px;
  &::after {
    animation: dotty steps(1, end) 1s infinite;
    content: '';

    @keyframes dotty {
      0% {
        content: '';
      }
      25% {
        content: '.';
      }
      50% {
        content: '..';
      }
      75% {
        content: '...';
      }
      100% {
        content: '';
      }
    }
  }
}

.header {
  font-size: 60px;
  color: #f1efe9;
  font-family: 'StarShield';
  letter-spacing: 3px;
  line-height: 45px;
}

.middle {
  width: 45%;
  margin-top: 75px;
  margin-left: 35px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.projectHeader {
  font-size: 35px;
  color: #f0ebe5;
  text-align: center;
  font-family: 'StarShield';
  line-height: 0.7;
  position: relative;

  &:hover {
    cursor: pointer;
  }
  &:hover::before {
    content: '>';
    animation: fade-in 0.4s;
    font-size: 40px;
    line-height: 35px;
    position: absolute;
    left: -17px;
    bottom: -2px;
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.middleHeaderContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.middleHeader {
  font-size: 55px;
  font-family: 'StarShield';
  color: #f0ebe5;
}

.link {
  color: #d6c4b5;
  font-family: 'Courier';
  text-decoration: none;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #d6c4b59c;
    opacity: 0;
    transition:
      opacity 300ms,
      transform 300ms;
  }

  &:hover::after,
  &:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
  }
}

.middleDescript {
  font-size: 19px;
  color: #d6c4b5;
  font-family: 'Courier';
  line-height: 1;
  margin-top: 15px;
  min-height: 125px;
}

.middleInfo {
  width: 100%;
  height: 80px;
  margin-top: 15px;
  display: flex;

  &__one,
  &__two,
  &__three {
    width: 33.5%;
    height: 100%;
    border: 1px solid #d1b7a07a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.top {
  color: #f1efe9;
  font-family: 'StarShield';
  font-size: 40px;
  text-transform: uppercase;
}
.bottom {
  color: #dcc8b6;
  font-size: 15px;
  font-family: 'Speedy';
}

.crosshair {
  position: absolute;
  width: 40px;
  height: 40px;
  filter: invert(0.7);
  transition: 0.4s ease;
  &:hover {
    cursor: pointer;
    transform: scale(1.25);
  }
}

.crosshairOne {
  right: 10%;
  top: 35%;
}
.crosshairTwo {
  top: 20%;
  right: 25%;
}
.crosshairThree {
  top: 40%;
  right: 30%;
}
.crosshairFour {
  top: 56%;
  right: 17%;
}
.crosshairFive {
  top: 60%;
  right: 35%;
}

@media screen and (max-width: 1174px) {
  .projects {
    width: 975px;
  }
  .container {
    width: 975px;
  }
  .headersContainer {
    width: 925px;
  }
}
