.skills {
  width: 1150px;
  padding-top: 100px;
  height: 900px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subHeader {
  color: #f0ebe5;
  font-size: 15px;
  font-family: 'Speedy';
  margin-bottom: 10px;
}

.header {
  font-size: 40px;
  color: #d6c4b5;
  font-family: 'Speedy';
  text-align: center;
  line-height: 0.5;
}

.headerBorder {
  margin-top: 10px;
  width: 80%;
  height: 1px;
  border-bottom: 1px solid #d6c4b597;
}

.container {
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.innerContainer {
  width: 80%;
  display: flex;
  margin-bottom: 50px;
}

.work,
.education,
.skillsName {
  font-size: 40px;
  color: #f0ebe5;
  font-family: 'StarShield';
  width: 25%;
}

.descript {
  width: 75%;
  font-size: 20px;
  font-family: 'Courier';
  color: #d6c4b5;
}

.dev {
  color: #f0ebe5;
  font-family: 'Speedy';
}

.skillsBox {
  width: 100%;
  display: flex;
}

.box {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.frontEnd {
  color: #f0ebe5;
  font-family: 'Speedy';
  font-size: 25px;
  text-align: center;
}

ul.frontList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.frontLi {
  font-family: 'Courier';
  color: #d6c4b5;
  font-size: 20px;
  text-align: center;
}

@media screen and (max-width: 1174px) {
  .skills {
    width: 975px;
  }
  .innerContainer {
    width: 90%;
  }
  .headerBorder {
    width: 90%;
  }
}
