.links {
  width: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #e5ebea;
  width: 225px;
  height: 100px;

  transform-style: preserve-3d;
  border-radius: 32px;
  box-shadow: 1px 1px 0 1px #dce3e2, -1px 0 28px 0 rgba(34, 33, 81, 0.01),
    28px 28px 28px 0 rgba(34, 33, 81, 0.25);
  transition: 0.4s ease-in-out transform, 0.4s ease-in-out box-shadow;

  &:hover {
    cursor: pointer;
    transform: translate3d(0px, -5px, 0px);
    box-shadow: 1px 1px 0 1px #dce3e2, -1px 0 28px 0 rgba(34, 33, 81, 0.01),
      54px 54px 28px -10px rgba(34, 33, 81, 0.15);
  }
}

.name {
  color: #a6777a;
  font-family: 'Pacifico', cursive;
  font-size: 25px;
}
