.contact {
  width: 1200px;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.header {
  font-size: 40px;
  color: #d6c4b5;
  font-family: 'Speedy';
  text-align: center;
}

.picContainer {
  width: 80%;
  height: 70%;
  margin-top: auto;
  display: flex;
  justify-content: center;
  overflow: hidden;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.216) 0%,
      rgba(0, 0, 0, 0.568) 75%,
      rgb(0, 0, 0) 100%
    );
    height: 80%;
    width: 80%;
  }
}

.planet {
  width: 700px;
  height: 700px;
}

form {
  width: 100%;
  height: 200px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.nameContainer {
  width: 250px;
  height: 30px;
  .nameInput {
    width: 100%;
    height: 100%;
  }
}

.emailContainer {
  width: 250px;
  height: 30px;
  .emailInput {
    width: 100%;
    height: 100%;
  }
}

.textContainer {
  height: 100px;
  width: 400px;
  .textInput {
    width: 100%;
    height: 100%;
  }
}

.button {
  width: 100px;
}
