.contact {
  width: 1200px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.header {
  width: 80%;
  border-bottom: 1px solid #d6c4b590;
  font-size: 40px;
  color: #d6c4b5;
  font-family: 'Speedy';
  text-align: center;
  margin-bottom: 25px;
}

.container {
  width: 80%;
  height: 250px;
}

.link {
  font-size: 20px;
  color: #d6c4b5ad;
  font-family: 'Speedy';
  line-height: 40px;
  &:hover {
    color: #d6c4b5;
  }
}

.linkContainer {
  display: flex;
  height: 45px;
}

.linkName {
  width: 125px;
  line-height: 40px;
  font-size: 30px;
  color: #f0ebe5;
  font-family: 'StarShield';
}
